@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    body {
        @apply text-white font-libre-franklin bg-grey-a00
    }

    a{
        text-decoration: inherit;
        color: inherit;
    }

    a:hover{
        text-decoration: inherit;
        color: inherit;
    }

    .page-item {
        @apply px-1 py-0.5
    }

    .page-link {
        @apply text-sm bg-grey-800 text-white rounded-md px-2 py-1
    }

}

@layer utilities{

    .font-libre-franklin{
        font-family: 'Libre Franklin', sans-serif;
    }

}