@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    body {
        @apply text-white font-libre-franklin bg-grey-a00 overflow-x-hidden
    }

    a{
        text-decoration: inherit;
        color: inherit;
    }

    a:hover{
        text-decoration: inherit;
        color: inherit;
    }

}

@layer utilities{

    .font-libre-franklin{
        font-family: 'Libre Franklin', sans-serif;
    }

}