@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 189, 19, 33;
        --color-background: 38, 38, 38;
        --color-text: 250, 250, 250;
        --color-background-inverted: 250, 250, 250;
        --color-text-inverted: 23, 23, 23;
    }
}
@layer components {
    body {
        @apply min-h-screen w-full overflow-x-hidden;
    }

    #__next {
        @apply min-h-screen w-full overflow-x-hidden;
    }

    #square-appointment-form * {
        @apply !bg-black;
    }
}

@layer utilities {
}
